
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <!--1-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Araçlar</span>
                            <h5 class="card-title mb-0 text-white">Toplam Araç </h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.v
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Mevcut Lokasyonlar</span>
                            <h5 class="card-title mb-0 text-white">Kiralama Lokasyonu Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-cen ter text-white mb-0">
                                    # @ViewBag.v2
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Yazar Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Toplam Yazar</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v3
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Blog Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Bloglarımız</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v4
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--1-->
        <!--2-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aktif Markalarımız</span>
                            <h5 class="card-title mb-0 text-white">Toplam Marka Sayısı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.v5
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük Fiyat</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyat</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v6 ₺ 
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Haftalık Fiyat</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyat</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v7 ₺
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Aylık Fiyat</span>
                            <h5 class="card-title mb-0 text-white">Ortalama Araç Fiyat</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v8 ₺
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--2-->
        <!--3-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Toplam Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Otomatik Vitesli Arabalar</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.v9
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Marka Adı</span>
                            <h5 class="card-title mb-0 text-white">En Fazla Araçlı Marka</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v10
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">En Fazla Yorum Alan Blog</span>
                            <h5 class="card-title mb-0 text-white">En İyi Blog</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v11
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">57% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">10.000 Km Altındaki Araçlar</span>
                            <h5 class="card-title mb-0 text-white">10.000 Km Sınırı</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v12
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">17.8% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--3-->
        <!--4-->
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-primary border-primary">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Benzin ve Dizel Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Yakıtlı Araçlar</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center mb-0 text-white">
                                    @ViewBag.v13
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">12.5% <i class="mdi mdi-arrow-up"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 5px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-success border-success">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Araç Sayısı</span>
                            <h5 class="card-title mb-0 text-white">Elektrikli Araçlar</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v14
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span class="text-white-50">18.71% <i class="mdi mdi-arrow-down"></i></span>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 38%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-warning border-warning">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük Kiralama Fiyatı</span>
                            <h5 class="card-title mb-0 text-white">En Pahalı Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-8">
                                <h3 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v15
                                </h3>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 68%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card bg-info border-info">
                    <div class="card-body">
                        <div class="mb-4">
                            <span class="badge badge-soft-light float-right">Günlük Kiralama Fiyatı</span>
                            <h5 class="card-title mb-0 text-white">En Ucuz Araç</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-12">
                                <h4 class="d-flex align-items-center text-white mb-0">
                                    @ViewBag.v16
                                </h4>
                            </div>
                        </div>

                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: 57%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
        </div>
        <!--4-->
    </div>
</div>

